<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="MUM Scheduler Application" content="" />
		<meta name="Sovello" content="" />
		
		<title>MUMSched :: Home</title>
		
		<!-- Bootstrap core CSS -->
		<link th:href="@{/standard/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		
		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
		<link th:href="@{/standard/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
		<script th:src="@{/standard/jquery/jquery.min.js}"></script>
		<link th:href="@{/standard/jquery/ui/jquery-ui.min.css}" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link th:href="@{/css/mumsched.css}" rel="stylesheet" />
		<script th:inline="javascript">
		
		  $( function() {
			    $( "#endDate" ).datepicker({
			      changeMonth: true,
			      changeYear: true,
			      dateFormat: "yy-mm-dd"
			    });
			  } );
		  $( function() {
			    $( "#startDate" ).datepicker({
			      changeMonth: true,
			      changeYear: true,
			      dateFormat: "yy-mm-dd"
			    });
			  } );
		  </script>
	</head>

	<body>
		<div class="overlay"></div>
	
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" 
	      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href="@{/home}">MUM</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a th:href="@{/logout}">Logout</a></li>
	      	<li><a th:href="@{/home}">Home</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
	          role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li class="active"><a href="">Home<span class="sr-only">(current)</span></a></li>
		        <li role="separator" class="divider"></li>
		        <li><a th:href="@{/logout}">Logout</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<h1 th:text="${title}"></h1>
		<div class="row">
			<!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
			<div class="span4 offset4 well">
				<form action="#" th:action="@{/entries}" th:object="${newEntry}" method="post">
				  <div class="form-group">
				    <label for="fppNumber">FPP number</label>
				    <input type="text" th:field="*{fppNum}" class="form-control" id="fppNumber" placeholder="FPP number of students" />
				  </div>
				  <th:block th:if="${id != null}">
				  	<input type="hidden" th:field="*{id}" />
				  </th:block>
				  <div class="form-group">
				    <label for="mppNumber">MPP number</label>
				    <input type="text" th:field="*{mppNum}" class="form-control" id="mppNumber" placeholder="MPP number of students" />
				    <div class="help-block with-errors" th:if="${#fields.hasErrors('mppNum')}" th:errors="*{mppNum}"></div>
				  </div>
				  <div class="form-group">
				    <label for="entryName">Entry name</label>
				    <input type="text" th:field="*{entryName}" class="form-control" id="entryName" placeholder="Entry name" />
				    <!-- <select class="form-control" th:field="*{entryName}" id="entryOrder" name="entryOrder"> 
				    		<option value="" >Select course</option>
				    		<option id="courseName" th:each="course : ${courses}" th:value="${course.getName()}" th:text="${course.getName()}"></option>
				    </select>
				    -->
				    <div class="help-block with-errors" th:if="${#fields.hasErrors('entryName')}" th:errors="*{entryName}"></div>
				  </div>
				  <!--
				  <div class="form-group">
				    <label for="course">Course:</label>
				    <select th:field="*{courses}" th:multiple="multiple" class="form-control" id="course">
				      <option
				      	th:each="kozi: ${allCourses}" 
				      	th:value="${kozi.id}"
				      	th:text="${kozi}">Machine Learning</option>
				    </select>
				  </div>
				  -->
				  <div class="form-group">
				    <label for="endDate">End date</label>
				    <div class='input-group date'>
				    	<input type="text" th:field="*{endDate}" class="form-control" id="endDate" placeholder="End date" />
				    	<span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                    <div class="help-block with-errors" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
	                </div>
				  </div>
				  <div class="form-group">
				    <label for="startDate">Start date</label>
				    <div class="input-group date">
				    	<input type="text" th:field="*{startDate}" class="form-control" id="startDate" placeholder="Start date" />
				    	<span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                    <div class="help-block with-errors" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
	                </div>
				  </div>
				  <div class="form-group text-right">
				  	<label for="submitButton">
				  		<a th:href="@{/entries}"><button type="button" class="btn btn-default btn-group">Cancel</button></a>
				  		<button type="submit" class="btn btn-default btn-group">Save</button>
				  	</label>
				  </div>
				</form>    
			</div>
		</div>
	</div>
	<div class="social-icons">
		<ul class="list-unstyled text-center mb-0">
			<li class="list-unstyled-item">
				<a href="#">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li class="list-unstyled-item">
				<a href="#">
			    	<i class="fa fa-facebook"></i>
			  	</a>
			</li>
			<li class="list-unstyled-item">
			  	<a href="#">
			    	<i class="fa fa-instagram"></i>
			  	</a>
			</li>
		</ul>
	</div>
	
		<!-- Bootstrap core JavaScript -->
		<script th:src="@{/standard/jquery/jquery.min.js}"></script>
		<script th:src="@{/standard/bootstrap/js/bootstrap.min.js}"></script>
		
		<!-- Plugin JavaScript -->
		<script th:src="@{/standard/vide/jquery.vide.min.js}"></script>
  		<script th:src="@{/standard/jquery/ui/jquery-ui.min.js}"></script>
		
		<!-- Custom scripts for this template -->
		<script th:src="@{/js/mumsched.js}"></script>
	
	</body>
</html>